button {
    font-size: 1rem;
    font-weight: bolder;
    margin: 5px;
    border: solid 2px white;
    background: #444;
    color: white;
    outline: none;
    cursor: pointer;

    &:hover, &:focus{
        border: solid 2px #000; 
        color: #000;
    }
}